<!DOCTYPE html>
<html>
<head>
	<title>Employee's Attendance</title>
<head>
<center>
	<font color="black" size="4" style="font-family: avenir">
	<script>
		function dateAndTime() {
			var currentDate = new Date();
			var dateTimeString = currentDate.toLocaleString();
			return currentDate;
		}
		
		function submitCheckIn() {
            var checkInTime = getCurrentDateTime().toLocaleString();
            window.location.href = "CheckIn.html?checkin=" + encodeURIComponent(checkInTime);
        }
		
	</script>
	</head>
		<center>
		<h1 style="color: navy">Employee's Attendance</h1>
		<body bgcolor="beige">
			<form method="POST" action="/validate_emp_id">
			{% if error %}
        	        <p style="color: red">{{ error }}</p>
     		        {% endif %}
			ID:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" id="emp_id" name="emp_id"><br><br>
				<button type="submit">Submit</button>
			</form>
			
			<form action="/CheckIn" autocomplete="on" method="POST" enctype="multipart/form-date">
			<button type="submit">Check In</button>
			<br><br>
			</form>
			
			<form action="/CheckOut" autocomplete="on" method = "POST" enctype="multipart/form-data">
				<button type="submit"><u>Check Out</u></button>	
			<br><br>
			</form>
			
			<form action="/Home" autocomplete="on" method = "POST" enctype="multipart/form-data">
				<button type="submit"><u>Back to Home</u></button>		
				</center>
	</body>
	</font>
</center>
</html>






