<!DOCTYPE html>
<html>
<head>
	<title>Employee's Attendance</title>
<head>
<center>
	<font color="black" size="4" style="font-family: avenir">
	<script>
		function dateAndTime() {
			var currentDate = new Date();
			var dateTimeString = currentDate.toLocaleString();
			return currentDate;
		}
		
		function submitCheckIn() {
            var checkInTime = getCurrentDateTime().toLocaleString();
            window.location.href = "CheckIn.html?checkin=" + encodeURIComponent(checkInTime);
        }
		
	</script>
	<style>
		body {
			background-color: beige;
		}
		h1 {
			color: navy;
			font-size: 36px; /* adjust as needed */
		}
		p {
			color: red;
			font-size: 18px; /* adjust as needed */
		}
	</style>
	</head>
		<center>
		<h1 style="color: navy">Employee's Attendance</h1>
		<body bgcolor="beige">
		<form method="POST" action="{{ url_for('Attendance') }}">
			<label for="emp_id">Employee ID: </label>
			<input type="text" id="emp_id" name="emp_id" required>
			<input type="submit" value="Verify">
		</form>
		{% if error %}
			<p>Invalid Employee ID. Please try again.</p>
		{% endif %}
		
		{% if emp_id_verified %}
			<br>
			<form action="/CheckIn" autocomplete="on" method="POST" enctype="multipart/form-date">
				<button type="submit"><u>Check In</u></button>
			<br>
			</form>
			
			<form action="/CheckOut" autocomplete="on" method = "POST" enctype="multipart/form-data">
				<button type="submit"><u>Check Out</u></button>	
			<br><br>
			</form>
			
			<form action="/Home" autocomplete="on" method = "POST" enctype="multipart/form-data">
				<button type="submit"><u>Back to Home</u></button>		
				</center>
		{% endif %}
	</body>
	</font>
</center>
</html>






