<!DOCTYPE html>
<html>
<head>
	<title>Check Out</title>
	<!-- Added meta tag for viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Added link to a CSS file for styling -->
	<link rel="stylesheet" href="styles.css">
	<script>
		function dateAndTime() {
			var currentDate = new Date();
			var dateTimeString = currentDate.toLocaleString();
			return dateTimeString;
		}
		
		function checkOut() {
			var checkOutDT = dateAndTime();
			var checkOutElement = document.getElementById("checkout-datetime");
			checkOutElement.value = checkOutDT;
		}
		
		window.onload = function() {
			var urlParams = new URLSearchParams(window.location.search);
			var checkInDT = urlParams.get('checkInTime');
			var checkInElement = document.getElementById("checkin-datetime");
			checkInElement.value = checkInDT;
			checkOut();
		};
	</script>
</head>
<body>
	<div class="container">
		<h1>Employee's Attendance</h1>
		<form>
			<label for="checkin-datetime">Check-in time:</label>
			<input type="text" id="checkin-datetime" name="check_in" readonly>
			<label for="checkout-datetime">Check-out time:</label>
			<input type="text" id="checkout-datetime" name="check_out" readonly>
			<button onclick="checkOut()" type="button">Check Out</button>
		</form>
		<a href="/Attendance" class="back-link">Back</a>
	</div>
</body>
</html>
