<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: navy">Home Page</h1>

		<body bgcolor="beige">

			<div class = "home-button">
				<href = "/addemp">
					<button class="form-button">Add Employee</button>
				</a>
			</div>
			<div class="home-button">
				<a href = "/getemp">
					<button class="form-button">Get Employee Details</button>
				</a>
			</div>
			<div class="home-button">
				<a href = "/Attendance">
					<button class="form-button">Attendanca</button>
				</a>
			</div>
			<div class="home-button">
				<a href = "/Login">
					<button class="form-button">back</button>
				</a>
			</div>
		</div>
</center>
</html>
