<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: navy">Home Page</h1>

		<body bgcolor="beige">

			<form action="/AddEmp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/AddEmp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Add Employee</button><br><br>

			<form action="/GetEmp" autocomplete="on" method = "POST" enctype="multipart/form-data">

		  		<button type="submit" formaction="/GetEmp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Get Employee Details</button><br><br>
				
			<form action="/Attendance" autocomplete="on" method = "POST" enctype="multipart/form-data">

		  		<button type="submit" formaction="/Attendance" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Attendance</button><br><br>
				
			<form action="/Login.html" autocomplete="on" method = "POST" enctype="multipart/form-data">

		  		<button type="submit" formaction="/Login.html" style="background: grey; height: 30px; width: 150px; color:white; font:oblique;">Back</button><br><br>

			</form>
		</body>

	</font>
</center>
</html>
