<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
<head>
<center>
	<font color="black" size="4" style="font-family: avenir">
		<h1 style="color: navy">Login Page</h1>
		<body bgcolor="beige">
				ID:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="reg_id"><br><br>
				Password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="reg_pass"><br><br>
				<form action="/Home" autocomplete="on" method = "POST" enctype="multipart/form-data">
				<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">LOGIN</button>
			</form>
<a href="Register.html">Register A New Account</a>
	<body>
	</font>
</center>
</html>