<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
    <style>
		img {
			margin-top: 20px;
		}
	</style>
<body bgcolor="beige">
    <center>
        <font color="black" size="4" style="font-family: avenir">
            <h1 style="color: navy">Login Page</h1>
            {% if error %}
            <p style="color: red">{{ error }}</p>
            {% endif %}
            <form action="/Login" autocomplete="on" method="POST" enctype="multipart/form-data">
                ID:<br>
                <input style="height:25px;font-size:14pt;color:grey;" type="text" name="reg_id"><br><br>
                Password:<br>
                <input style="height:25px;font-size:14pt;color:grey;" type="password" name="reg_pass"><br><br>
                <button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">LOGIN</button>
            </form>
            <br>
            <form action="/Register" autocomplete="on" method="POST" enctype="multipart/form-data">
                <button type="submit" style="background: transparent; height: 25px; width: 200px; color: block; size: 5; font:oblique; border:none"><u>Register Here</u></button>
            </form>
        </font>
        <img src="https://static.vecteezy.com/system/resources/thumbnails/011/976/274/small/stick-figures-welcome-free-vector.jpg" alt="My Image" width="500" height="300" align="center">
    </center>
</body>
</html>



