<!DOCTYPE html>
<html>
<head>
    <title>Register Employee</title>
</head>
<body bgcolor="beige">
    <center>
        <font color="black" size="4" style="font-family: avenir">
            <h1 style="color: navy">Register Employee</h1>
            
            {% if error %}
            <p style="color: red">{{ error }}</p>
            {% endif %}
            {% if success_msg %}
            <p style="color: green">{{ success_msg }}</p>
            {% endif %}

            <form action="/Register" autocomplete="on" method="POST" enctype="multipart/form-data">
                ID:<br>
                <input style="height:25px;font-size:14pt;color:grey;" type="text" name="reg_id"><br><br>
                Password:<br>
                <input style="height:25px;font-size:14pt;color:grey;" type="text" name="reg_pass"><br><br>
                Confirm Password:<br>
                <input style="height:25px;font-size:14pt;color:grey;" type="text" name="reg_conf_pass"><br><br>
                <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Register</button><br><br>
            </form>
        </font>
    </center>
</body>
</html>
